* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* STarry bg */

body {
  height: 100%;
  background: #2d2d2d;
  color: white;
  font-family: "Istok Web", sans-serif;
  min-height: 100%;
  margin: 0;
  line-height: 1.5;
}

#stars {
  overflow: hidden;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 158px 913px #fff, 1381px 1643px #fff, 1466px 1363px #fff,
    455px 71px #fff, 1982px 1755px #fff, 1580px 1448px #fff, 79px 1145px #fff,
    1603px 1333px #fff, 175px 498px #fff, 807px 1181px #fff, 362px 740px #fff,
    283px 1254px #fff, 819px 63px #fff, 332px 61px #fff, 1698px 1820px #fff,
    65px 1913px #fff, 529px 865px #fff, 571px 1997px #fff, 1420px 1356px #fff,
    333px 1717px #fff, 1357px 154px #fff, 1290px 827px #fff, 29px 388px #fff,
    141px 1143px #fff, 1883px 1738px #fff, 1959px 827px #fff, 1529px 1570px #fff,
    26px 1811px #fff, 398px 1711px #fff, 272px 1107px #fff, 527px 1464px #fff,
    1145px 1327px #fff, 281px 96px #fff, 367px 1865px #fff, 786px 56px #fff,
    350px 198px #fff, 1310px 1262px #fff, 1229px 647px #fff, 1386px 6px #fff,
    89px 1808px #fff, 474px 1051px #fff, 817px 339px #fff, 1428px 982px #fff,
    115px 639px #fff, 1648px 1268px #fff, 997px 932px #fff, 1666px 1470px #fff,
    4px 1539px #fff, 1457px 498px #fff, 1861px 68px #fff, 772px 317px #fff,
    1226px 356px #fff, 1640px 89px #fff, 134px 405px #fff, 1141px 420px #fff,
    1063px 80px #fff, 484px 144px #fff, 560px 275px #fff, 1755px 787px #fff,
    601px 1462px #fff, 1446px 1928px #fff, 1539px 1638px #fff, 921px 889px #fff,
    1207px 1012px #fff, 623px 394px #fff, 789px 846px #fff, 1463px 1996px #fff,
    1809px 1791px #fff, 1399px 532px #fff, 107px 1272px #fff, 209px 217px #fff,
    273px 76px #fff, 844px 277px #fff, 1492px 821px #fff, 149px 5px #fff,
    277px 782px #fff, 668px 399px #fff, 1901px 477px #fff, 633px 766px #fff,
    1907px 1957px #fff, 86px 1326px #fff, 223px 33px #fff, 1278px 1339px #fff,
    1082px 1665px #fff, 1458px 1703px #fff, 662px 248px #fff, 294px 1483px #fff,
    532px 1145px #fff, 600px 1044px #fff, 1661px 1964px #fff, 1318px 1551px #fff,
    714px 804px #fff, 1139px 272px #fff, 1576px 1501px #fff, 1563px 242px #fff,
    935px 104px #fff, 687px 1168px #fff, 1080px 1101px #fff, 1466px 797px #fff,
    704px 364px #fff, 1941px 1685px #fff, 657px 18px #fff, 896px 1104px #fff,
    363px 1075px #fff, 1643px 1547px #fff, 1728px 172px #fff, 319px 809px #fff,
    1203px 290px #fff, 1000px 259px #fff, 1550px 336px #fff, 691px 445px #fff,
    700px 234px #fff, 1257px 873px #fff, 217px 742px #fff, 1167px 892px #fff,
    904px 1036px #fff, 843px 1999px #fff, 1130px 969px #fff, 42px 1930px #fff,
    447px 1534px #fff, 1304px 306px #fff, 1618px 884px #fff, 706px 1984px #fff,
    1939px 1899px #fff, 620px 1430px #fff, 1612px 1184px #fff, 1936px 574px #fff,
    974px 1632px #fff, 1378px 836px #fff, 832px 587px #fff, 209px 1963px #fff,
    1624px 823px #fff, 942px 1192px #fff, 1228px 1241px #fff, 1748px 1302px #fff,
    1852px 640px #fff, 823px 132px #fff, 1255px 357px #fff, 1774px 798px #fff,
    1676px 341px #fff, 479px 843px #fff, 1739px 478px #fff, 90px 3px #fff,
    526px 1520px #fff, 1477px 604px #fff, 567px 524px #fff, 1621px 348px #fff,
    1415px 499px #fff, 181px 1132px #fff, 612px 146px #fff, 1874px 322px #fff,
    35px 1322px #fff, 1061px 1170px #fff, 510px 997px #fff, 129px 997px #fff,
    1250px 8px #fff, 122px 1658px #fff, 1277px 176px #fff, 1631px 737px #fff,
    1614px 112px #fff, 1951px 723px #fff, 908px 775px #fff, 1954px 1421px #fff,
    1181px 970px #fff, 636px 1036px #fff, 1003px 135px #fff, 1540px 879px #fff,
    1219px 1270px #fff, 21px 1706px #fff, 395px 1843px #fff, 1905px 1437px #fff,
    308px 1373px #fff, 620px 246px #fff, 115px 660px #fff, 190px 1776px #fff,
    1913px 71px #fff, 728px 1733px #fff, 1219px 1869px #fff, 734px 64px #fff,
    888px 437px #fff, 1089px 1839px #fff, 1722px 786px #fff, 299px 1872px #fff,
    1062px 338px #fff, 1312px 1602px #fff, 1075px 506px #fff, 1609px 160px #fff,
    494px 9px #fff, 1427px 1040px #fff, 377px 804px #fff, 68px 1477px #fff,
    1174px 818px #fff, 1563px 226px #fff, 1164px 1664px #fff, 545px 572px #fff,
    1340px 708px #fff, 898px 918px #fff, 1177px 381px #fff, 54px 1731px #fff,
    1435px 433px #fff, 1059px 896px #fff, 1980px 139px #fff, 66px 969px #fff,
    642px 1677px #fff, 716px 1485px #fff, 190px 883px #fff, 148px 437px #fff,
    1965px 1666px #fff, 634px 957px #fff, 81px 735px #fff, 93px 1779px #fff,
    1767px 1605px #fff, 1978px 977px #fff, 843px 487px #fff, 1223px 900px #fff,
    1396px 774px #fff, 161px 1577px #fff, 1828px 961px #fff, 1632px 104px #fff,
    801px 1604px #fff, 141px 1126px #fff, 822px 373px #fff, 889px 214px #fff,
    355px 4px #fff, 483px 1228px #fff, 2px 1779px #fff, 455px 876px #fff,
    1358px 1569px #fff, 965px 1992px #fff, 944px 1922px #fff, 1079px 1262px #fff,
    1995px 801px #fff, 1653px 376px #fff, 368px 1639px #fff, 817px 1686px #fff,
    1718px 886px #fff, 965px 287px #fff, 1684px 107px #fff, 15px 273px #fff,
    1563px 1772px #fff, 233px 1127px #fff, 1851px 788px #fff, 730px 486px #fff,
    1690px 1654px #fff, 24px 1661px #fff, 1953px 722px #fff, 250px 433px #fff,
    765px 216px #fff, 1394px 1793px #fff, 600px 848px #fff, 1018px 812px #fff,
    1215px 552px #fff, 759px 381px #fff, 303px 760px #fff, 78px 1334px #fff,
    295px 1580px #fff, 290px 1697px #fff, 1489px 1868px #fff, 584px 853px #fff,
    569px 825px #fff, 198px 1339px #fff, 1573px 875px #fff, 1515px 1770px #fff,
    1891px 571px #fff, 577px 1430px #fff, 51px 1781px #fff, 306px 1846px #fff,
    947px 1779px #fff, 985px 930px #fff, 1986px 1081px #fff, 335px 278px #fff,
    1643px 307px #fff, 1348px 1689px #fff, 1841px 1062px #fff,
    1035px 1402px #fff, 881px 937px #fff, 1520px 1461px #fff, 86px 1067px #fff,
    895px 1988px #fff, 621px 1926px #fff, 1332px 1547px #fff, 856px 1786px #fff,
    1376px 686px #fff, 297px 593px #fff, 770px 176px #fff, 53px 1184px #fff,
    285px 1691px #fff, 9px 1204px #fff, 1348px 592px #fff, 816px 1990px #fff,
    424px 1591px #fff, 278px 38px #fff, 1366px 1528px #fff, 1559px 728px #fff,
    1959px 727px #fff, 1491px 333px #fff, 1783px 152px #fff, 902px 321px #fff,
    1998px 1279px #fff, 1683px 566px #fff, 1631px 1230px #fff, 1042px 910px #fff,
    983px 815px #fff, 893px 1084px #fff, 43px 1093px #fff, 870px 1636px #fff,
    1929px 1494px #fff, 613px 1628px #fff, 1647px 357px #fff, 150px 1431px #fff,
    968px 134px #fff, 47px 1734px #fff, 98px 908px #fff, 515px 625px #fff,
    691px 1074px #fff, 648px 1876px #fff, 273px 771px #fff, 1660px 1305px #fff,
    846px 1784px #fff, 1674px 288px #fff, 1905px 1315px #fff, 968px 198px #fff,
    1704px 1537px #fff, 1762px 301px #fff, 1722px 1429px #fff,
    1708px 1988px #fff, 943px 1908px #fff, 1048px 858px #fff, 1798px 980px #fff,
    1869px 1404px #fff, 1167px 1113px #fff, 1825px 691px #fff, 1398px 6px #fff,
    1083px 1738px #fff, 1781px 686px #fff, 1198px 1504px #fff,
    1554px 1851px #fff, 1606px 1743px #fff, 1938px 227px #fff, 1377px 823px #fff,
    1709px 27px #fff, 855px 1754px #fff, 1117px 211px #fff, 20px 1785px #fff,
    1510px 963px #fff, 1515px 1479px #fff, 1077px 921px #fff, 412px 1394px #fff,
    1697px 1837px #fff, 348px 1271px #fff, 1388px 197px #fff, 821px 1204px #fff,
    1355px 1359px #fff, 1249px 1458px #fff, 79px 579px #fff, 1979px 692px #fff,
    1029px 972px #fff, 1011px 1663px #fff, 1217px 1870px #fff,
    1279px 1220px #fff, 121px 1872px #fff, 99px 1970px #fff, 1589px 1586px #fff,
    1085px 709px #fff, 1551px 424px #fff, 633px 122px #fff, 1483px 67px #fff,
    912px 957px #fff, 876px 1364px #fff, 104px 839px #fff, 1548px 897px #fff,
    1237px 377px #fff, 649px 1527px #fff, 92px 793px #fff, 87px 1068px #fff,
    927px 1180px #fff, 1035px 1599px #fff, 368px 1382px #fff, 479px 1035px #fff,
    348px 1142px #fff, 525px 744px #fff, 1623px 885px #fff, 819px 876px #fff,
    1701px 1836px #fff, 491px 1253px #fff, 242px 905px #fff, 1922px 15px #fff,
    339px 1486px #fff, 656px 99px #fff, 565px 1631px #fff, 283px 1641px #fff,
    1789px 661px #fff, 687px 63px #fff, 970px 356px #fff, 1337px 1132px #fff,
    1651px 1471px #fff, 722px 432px #fff, 1748px 1986px #fff, 374px 1461px #fff,
    981px 348px #fff, 1808px 839px #fff, 1014px 1070px #fff, 872px 806px #fff,
    1091px 610px #fff, 873px 1814px #fff, 693px 1174px #fff, 669px 553px #fff,
    1092px 1970px #fff, 1982px 293px #fff, 1079px 847px #fff, 573px 898px #fff,
    1522px 314px #fff, 205px 1837px #fff, 91px 1862px #fff, 1869px 1381px #fff,
    893px 458px #fff, 1775px 1090px #fff, 1175px 1837px #fff, 1713px 1456px #fff,
    526px 1921px #fff, 322px 79px #fff, 842px 756px #fff, 1696px 1844px #fff,
    252px 1734px #fff, 140px 671px #fff, 1771px 1307px #fff, 1509px 545px #fff,
    686px 738px #fff, 971px 1088px #fff, 239px 1671px #fff, 1966px 1966px #fff,
    1029px 1482px #fff, 365px 1194px #fff, 1635px 155px #fff, 923px 1194px #fff,
    1860px 1076px #fff, 1783px 1824px #fff, 470px 1726px #fff, 10px 392px #fff,
    992px 434px #fff, 131px 167px #fff, 1130px 686px #fff, 1310px 1893px #fff,
    1985px 571px #fff, 1620px 938px #fff, 825px 1122px #fff, 1968px 1295px #fff,
    323px 499px #fff, 1073px 1665px #fff, 1409px 271px #fff, 94px 918px #fff,
    1600px 1585px #fff, 297px 1386px #fff, 840px 497px #fff, 1051px 1085px #fff,
    1910px 521px #fff, 1614px 125px #fff, 147px 937px #fff, 1198px 994px #fff,
    1657px 407px #fff, 443px 1918px #fff, 425px 1650px #fff, 488px 503px #fff,
    6px 1115px #fff, 208px 1519px #fff, 637px 1653px #fff, 750px 435px #fff,
    526px 1484px #fff, 670px 556px #fff, 761px 1335px #fff, 164px 1282px #fff,
    504px 973px #fff, 1760px 47px #fff, 1035px 1644px #fff, 213px 1634px #fff,
    1624px 1518px #fff, 1962px 150px #fff, 725px 1716px #fff, 1245px 811px #fff,
    581px 842px #fff, 640px 1664px #fff, 494px 1010px #fff, 1756px 1927px #fff,
    1661px 1268px #fff, 637px 1347px #fff, 1549px 131px #fff, 482px 86px #fff,
    1802px 702px #fff, 1428px 1897px #fff, 1814px 1552px #fff, 521px 1859px #fff,
    655px 987px #fff, 560px 1597px #fff, 1847px 490px #fff, 871px 406px #fff,
    17px 1215px #fff, 697px 337px #fff, 731px 367px #fff, 1585px 1400px #fff,
    27px 1504px #fff, 1143px 1815px #fff, 605px 69px #fff, 23px 1361px #fff,
    631px 1513px #fff, 1403px 1393px #fff, 19px 1235px #fff, 310px 1402px #fff,
    958px 1198px #fff, 681px 1166px #fff, 1260px 257px #fff, 106px 1654px #fff,
    1805px 735px #fff, 1148px 1899px #fff, 612px 289px #fff, 574px 468px #fff,
    1058px 997px #fff, 566px 1860px #fff, 25px 951px #fff, 1619px 339px #fff,
    1320px 819px #fff, 1493px 189px #fff, 1831px 826px #fff, 878px 58px #fff,
    1200px 895px #fff, 1812px 741px #fff, 340px 1495px #fff, 407px 1820px #fff,
    1481px 936px #fff, 1985px 726px #fff, 340px 1937px #fff, 1709px 51px #fff,
    335px 1544px #fff, 99px 102px #fff, 1630px 1778px #fff, 1894px 1350px #fff,
    1312px 1059px #fff, 245px 941px #fff, 1142px 698px #fff, 972px 239px #fff,
    412px 5px #fff, 668px 1751px #fff, 768px 1560px #fff, 448px 117px #fff,
    1620px 371px #fff, 1163px 1491px #fff, 1645px 806px #fff, 529px 1536px #fff,
    1400px 1970px #fff, 1294px 795px #fff, 1897px 1208px #fff, 1781px 402px #fff,
    1122px 986px #fff, 760px 1484px #fff, 1079px 1260px #fff, 1942px 332px #fff,
    330px 1542px #fff, 989px 1703px #fff, 686px 566px #fff, 1049px 80px #fff,
    806px 1235px #fff, 1961px 1066px #fff, 1004px 1746px #fff,
    1328px 1678px #fff, 25px 12px #fff, 852px 998px #fff, 1081px 553px #fff,
    389px 385px #fff, 1605px 1358px #fff, 980px 1556px #fff, 1134px 1506px #fff,
    1147px 1812px #fff, 752px 736px #fff, 29px 762px #fff, 1502px 1955px #fff,
    1546px 1568px #fff, 1291px 1136px #fff, 430px 1544px #fff, 1013px 507px #fff,
    1873px 361px #fff, 104px 1303px #fff, 1440px 1186px #fff, 906px 1792px #fff,
    476px 1801px #fff, 1748px 812px #fff, 597px 341px #fff, 1326px 27px #fff,
    462px 1155px #fff, 297px 768px #fff, 1797px 130px #fff, 1284px 236px #fff,
    1224px 1104px #fff, 1621px 19px #fff, 890px 544px #fff, 220px 32px #fff,
    40px 1636px #fff, 1767px 1158px #fff, 1960px 1001px #fff, 523px 1787px #fff,
    59px 263px #fff, 725px 1914px #fff, 361px 1821px #fff, 267px 214px #fff,
    218px 977px #fff, 604px 1137px #fff, 1698px 1297px #fff, 311px 1011px #fff,
    352px 219px #fff, 1996px 4px #fff, 528px 1318px #fff, 1907px 1672px #fff,
    1160px 1870px #fff, 349px 879px #fff, 817px 1620px #fff, 297px 486px #fff,
    1783px 1041px #fff, 1851px 1819px #fff, 654px 971px #fff, 138px 204px #fff,
    982px 1024px #fff, 596px 867px #fff, 50px 684px #fff, 688px 187px #fff,
    1276px 359px #fff, 1038px 1883px #fff, 17px 1925px #fff, 1059px 532px #fff,
    1326px 23px #fff, 1397px 525px #fff, 690px 1677px #fff, 1668px 494px #fff,
    345px 1158px #fff, 1815px 221px #fff, 1049px 756px #fff, 420px 411px #fff,
    1007px 26px #fff, 1336px 555px #fff, 1191px 1421px #fff, 868px 1358px #fff,
    942px 31px #fff, 1827px 383px #fff, 1596px 1435px #fff, 462px 1114px #fff,
    1052px 1967px #fff, 1855px 869px #fff, 249px 788px #fff, 1953px 256px #fff,
    704px 827px #fff, 1329px 835px #fff, 1358px 55px #fff, 510px 940px #fff,
    31px 1463px #fff, 1491px 113px #fff, 610px 417px #fff, 644px 1858px #fff,
    56px 517px #fff, 1216px 1476px #fff, 664px 1124px #fff, 1200px 1014px #fff,
    1714px 885px #fff, 488px 1146px #fff, 890px 1213px #fff, 420px 806px #fff,
    301px 197px #fff, 608px 1598px #fff, 21px 1403px #fff, 1535px 1243px #fff,
    1457px 1831px #fff, 803px 1466px #fff, 317px 1299px #fff, 258px 592px #fff,
    997px 1658px #fff, 587px 581px #fff, 535px 1026px #fff, 151px 247px #fff,
    458px 1009px #fff, 292px 1882px #fff, 1566px 437px #fff, 1211px 1354px #fff,
    28px 139px #fff, 86px 889px #fff, 263px 1673px #fff, 1621px 1206px #fff,
    265px 1127px #fff, 562px 602px #fff, 437px 687px #fff, 1623px 638px #fff,
    1285px 344px #fff, 1271px 1386px #fff, 439px 1291px #fff, 934px 1310px #fff,
    1999px 738px #fff, 617px 447px #fff, 137px 214px #fff, 1251px 263px #fff,
    114px 925px #fff, 1595px 993px #fff, 1246px 1516px #fff, 740px 1439px #fff,
    946px 1567px #fff, 1339px 1469px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 158px 913px #fff, 1381px 1643px #fff, 1466px 1363px #fff,
    455px 71px #fff, 1982px 1755px #fff, 1580px 1448px #fff, 79px 1145px #fff,
    1603px 1333px #fff, 175px 498px #fff, 807px 1181px #fff, 362px 740px #fff,
    283px 1254px #fff, 819px 63px #fff, 332px 61px #fff, 1698px 1820px #fff,
    65px 1913px #fff, 529px 865px #fff, 571px 1997px #fff, 1420px 1356px #fff,
    333px 1717px #fff, 1357px 154px #fff, 1290px 827px #fff, 29px 388px #fff,
    141px 1143px #fff, 1883px 1738px #fff, 1959px 827px #fff, 1529px 1570px #fff,
    26px 1811px #fff, 398px 1711px #fff, 272px 1107px #fff, 527px 1464px #fff,
    1145px 1327px #fff, 281px 96px #fff, 367px 1865px #fff, 786px 56px #fff,
    350px 198px #fff, 1310px 1262px #fff, 1229px 647px #fff, 1386px 6px #fff,
    89px 1808px #fff, 474px 1051px #fff, 817px 339px #fff, 1428px 982px #fff,
    115px 639px #fff, 1648px 1268px #fff, 997px 932px #fff, 1666px 1470px #fff,
    4px 1539px #fff, 1457px 498px #fff, 1861px 68px #fff, 772px 317px #fff,
    1226px 356px #fff, 1640px 89px #fff, 134px 405px #fff, 1141px 420px #fff,
    1063px 80px #fff, 484px 144px #fff, 560px 275px #fff, 1755px 787px #fff,
    601px 1462px #fff, 1446px 1928px #fff, 1539px 1638px #fff, 921px 889px #fff,
    1207px 1012px #fff, 623px 394px #fff, 789px 846px #fff, 1463px 1996px #fff,
    1809px 1791px #fff, 1399px 532px #fff, 107px 1272px #fff, 209px 217px #fff,
    273px 76px #fff, 844px 277px #fff, 1492px 821px #fff, 149px 5px #fff,
    277px 782px #fff, 668px 399px #fff, 1901px 477px #fff, 633px 766px #fff,
    1907px 1957px #fff, 86px 1326px #fff, 223px 33px #fff, 1278px 1339px #fff,
    1082px 1665px #fff, 1458px 1703px #fff, 662px 248px #fff, 294px 1483px #fff,
    532px 1145px #fff, 600px 1044px #fff, 1661px 1964px #fff, 1318px 1551px #fff,
    714px 804px #fff, 1139px 272px #fff, 1576px 1501px #fff, 1563px 242px #fff,
    935px 104px #fff, 687px 1168px #fff, 1080px 1101px #fff, 1466px 797px #fff,
    704px 364px #fff, 1941px 1685px #fff, 657px 18px #fff, 896px 1104px #fff,
    363px 1075px #fff, 1643px 1547px #fff, 1728px 172px #fff, 319px 809px #fff,
    1203px 290px #fff, 1000px 259px #fff, 1550px 336px #fff, 691px 445px #fff,
    700px 234px #fff, 1257px 873px #fff, 217px 742px #fff, 1167px 892px #fff,
    904px 1036px #fff, 843px 1999px #fff, 1130px 969px #fff, 42px 1930px #fff,
    447px 1534px #fff, 1304px 306px #fff, 1618px 884px #fff, 706px 1984px #fff,
    1939px 1899px #fff, 620px 1430px #fff, 1612px 1184px #fff, 1936px 574px #fff,
    974px 1632px #fff, 1378px 836px #fff, 832px 587px #fff, 209px 1963px #fff,
    1624px 823px #fff, 942px 1192px #fff, 1228px 1241px #fff, 1748px 1302px #fff,
    1852px 640px #fff, 823px 132px #fff, 1255px 357px #fff, 1774px 798px #fff,
    1676px 341px #fff, 479px 843px #fff, 1739px 478px #fff, 90px 3px #fff,
    526px 1520px #fff, 1477px 604px #fff, 567px 524px #fff, 1621px 348px #fff,
    1415px 499px #fff, 181px 1132px #fff, 612px 146px #fff, 1874px 322px #fff,
    35px 1322px #fff, 1061px 1170px #fff, 510px 997px #fff, 129px 997px #fff,
    1250px 8px #fff, 122px 1658px #fff, 1277px 176px #fff, 1631px 737px #fff,
    1614px 112px #fff, 1951px 723px #fff, 908px 775px #fff, 1954px 1421px #fff,
    1181px 970px #fff, 636px 1036px #fff, 1003px 135px #fff, 1540px 879px #fff,
    1219px 1270px #fff, 21px 1706px #fff, 395px 1843px #fff, 1905px 1437px #fff,
    308px 1373px #fff, 620px 246px #fff, 115px 660px #fff, 190px 1776px #fff,
    1913px 71px #fff, 728px 1733px #fff, 1219px 1869px #fff, 734px 64px #fff,
    888px 437px #fff, 1089px 1839px #fff, 1722px 786px #fff, 299px 1872px #fff,
    1062px 338px #fff, 1312px 1602px #fff, 1075px 506px #fff, 1609px 160px #fff,
    494px 9px #fff, 1427px 1040px #fff, 377px 804px #fff, 68px 1477px #fff,
    1174px 818px #fff, 1563px 226px #fff, 1164px 1664px #fff, 545px 572px #fff,
    1340px 708px #fff, 898px 918px #fff, 1177px 381px #fff, 54px 1731px #fff,
    1435px 433px #fff, 1059px 896px #fff, 1980px 139px #fff, 66px 969px #fff,
    642px 1677px #fff, 716px 1485px #fff, 190px 883px #fff, 148px 437px #fff,
    1965px 1666px #fff, 634px 957px #fff, 81px 735px #fff, 93px 1779px #fff,
    1767px 1605px #fff, 1978px 977px #fff, 843px 487px #fff, 1223px 900px #fff,
    1396px 774px #fff, 161px 1577px #fff, 1828px 961px #fff, 1632px 104px #fff,
    801px 1604px #fff, 141px 1126px #fff, 822px 373px #fff, 889px 214px #fff,
    355px 4px #fff, 483px 1228px #fff, 2px 1779px #fff, 455px 876px #fff,
    1358px 1569px #fff, 965px 1992px #fff, 944px 1922px #fff, 1079px 1262px #fff,
    1995px 801px #fff, 1653px 376px #fff, 368px 1639px #fff, 817px 1686px #fff,
    1718px 886px #fff, 965px 287px #fff, 1684px 107px #fff, 15px 273px #fff,
    1563px 1772px #fff, 233px 1127px #fff, 1851px 788px #fff, 730px 486px #fff,
    1690px 1654px #fff, 24px 1661px #fff, 1953px 722px #fff, 250px 433px #fff,
    765px 216px #fff, 1394px 1793px #fff, 600px 848px #fff, 1018px 812px #fff,
    1215px 552px #fff, 759px 381px #fff, 303px 760px #fff, 78px 1334px #fff,
    295px 1580px #fff, 290px 1697px #fff, 1489px 1868px #fff, 584px 853px #fff,
    569px 825px #fff, 198px 1339px #fff, 1573px 875px #fff, 1515px 1770px #fff,
    1891px 571px #fff, 577px 1430px #fff, 51px 1781px #fff, 306px 1846px #fff,
    947px 1779px #fff, 985px 930px #fff, 1986px 1081px #fff, 335px 278px #fff,
    1643px 307px #fff, 1348px 1689px #fff, 1841px 1062px #fff,
    1035px 1402px #fff, 881px 937px #fff, 1520px 1461px #fff, 86px 1067px #fff,
    895px 1988px #fff, 621px 1926px #fff, 1332px 1547px #fff, 856px 1786px #fff,
    1376px 686px #fff, 297px 593px #fff, 770px 176px #fff, 53px 1184px #fff,
    285px 1691px #fff, 9px 1204px #fff, 1348px 592px #fff, 816px 1990px #fff,
    424px 1591px #fff, 278px 38px #fff, 1366px 1528px #fff, 1559px 728px #fff,
    1959px 727px #fff, 1491px 333px #fff, 1783px 152px #fff, 902px 321px #fff,
    1998px 1279px #fff, 1683px 566px #fff, 1631px 1230px #fff, 1042px 910px #fff,
    983px 815px #fff, 893px 1084px #fff, 43px 1093px #fff, 870px 1636px #fff,
    1929px 1494px #fff, 613px 1628px #fff, 1647px 357px #fff, 150px 1431px #fff,
    968px 134px #fff, 47px 1734px #fff, 98px 908px #fff, 515px 625px #fff,
    691px 1074px #fff, 648px 1876px #fff, 273px 771px #fff, 1660px 1305px #fff,
    846px 1784px #fff, 1674px 288px #fff, 1905px 1315px #fff, 968px 198px #fff,
    1704px 1537px #fff, 1762px 301px #fff, 1722px 1429px #fff,
    1708px 1988px #fff, 943px 1908px #fff, 1048px 858px #fff, 1798px 980px #fff,
    1869px 1404px #fff, 1167px 1113px #fff, 1825px 691px #fff, 1398px 6px #fff,
    1083px 1738px #fff, 1781px 686px #fff, 1198px 1504px #fff,
    1554px 1851px #fff, 1606px 1743px #fff, 1938px 227px #fff, 1377px 823px #fff,
    1709px 27px #fff, 855px 1754px #fff, 1117px 211px #fff, 20px 1785px #fff,
    1510px 963px #fff, 1515px 1479px #fff, 1077px 921px #fff, 412px 1394px #fff,
    1697px 1837px #fff, 348px 1271px #fff, 1388px 197px #fff, 821px 1204px #fff,
    1355px 1359px #fff, 1249px 1458px #fff, 79px 579px #fff, 1979px 692px #fff,
    1029px 972px #fff, 1011px 1663px #fff, 1217px 1870px #fff,
    1279px 1220px #fff, 121px 1872px #fff, 99px 1970px #fff, 1589px 1586px #fff,
    1085px 709px #fff, 1551px 424px #fff, 633px 122px #fff, 1483px 67px #fff,
    912px 957px #fff, 876px 1364px #fff, 104px 839px #fff, 1548px 897px #fff,
    1237px 377px #fff, 649px 1527px #fff, 92px 793px #fff, 87px 1068px #fff,
    927px 1180px #fff, 1035px 1599px #fff, 368px 1382px #fff, 479px 1035px #fff,
    348px 1142px #fff, 525px 744px #fff, 1623px 885px #fff, 819px 876px #fff,
    1701px 1836px #fff, 491px 1253px #fff, 242px 905px #fff, 1922px 15px #fff,
    339px 1486px #fff, 656px 99px #fff, 565px 1631px #fff, 283px 1641px #fff,
    1789px 661px #fff, 687px 63px #fff, 970px 356px #fff, 1337px 1132px #fff,
    1651px 1471px #fff, 722px 432px #fff, 1748px 1986px #fff, 374px 1461px #fff,
    981px 348px #fff, 1808px 839px #fff, 1014px 1070px #fff, 872px 806px #fff,
    1091px 610px #fff, 873px 1814px #fff, 693px 1174px #fff, 669px 553px #fff,
    1092px 1970px #fff, 1982px 293px #fff, 1079px 847px #fff, 573px 898px #fff,
    1522px 314px #fff, 205px 1837px #fff, 91px 1862px #fff, 1869px 1381px #fff,
    893px 458px #fff, 1775px 1090px #fff, 1175px 1837px #fff, 1713px 1456px #fff,
    526px 1921px #fff, 322px 79px #fff, 842px 756px #fff, 1696px 1844px #fff,
    252px 1734px #fff, 140px 671px #fff, 1771px 1307px #fff, 1509px 545px #fff,
    686px 738px #fff, 971px 1088px #fff, 239px 1671px #fff, 1966px 1966px #fff,
    1029px 1482px #fff, 365px 1194px #fff, 1635px 155px #fff, 923px 1194px #fff,
    1860px 1076px #fff, 1783px 1824px #fff, 470px 1726px #fff, 10px 392px #fff,
    992px 434px #fff, 131px 167px #fff, 1130px 686px #fff, 1310px 1893px #fff,
    1985px 571px #fff, 1620px 938px #fff, 825px 1122px #fff, 1968px 1295px #fff,
    323px 499px #fff, 1073px 1665px #fff, 1409px 271px #fff, 94px 918px #fff,
    1600px 1585px #fff, 297px 1386px #fff, 840px 497px #fff, 1051px 1085px #fff,
    1910px 521px #fff, 1614px 125px #fff, 147px 937px #fff, 1198px 994px #fff,
    1657px 407px #fff, 443px 1918px #fff, 425px 1650px #fff, 488px 503px #fff,
    6px 1115px #fff, 208px 1519px #fff, 637px 1653px #fff, 750px 435px #fff,
    526px 1484px #fff, 670px 556px #fff, 761px 1335px #fff, 164px 1282px #fff,
    504px 973px #fff, 1760px 47px #fff, 1035px 1644px #fff, 213px 1634px #fff,
    1624px 1518px #fff, 1962px 150px #fff, 725px 1716px #fff, 1245px 811px #fff,
    581px 842px #fff, 640px 1664px #fff, 494px 1010px #fff, 1756px 1927px #fff,
    1661px 1268px #fff, 637px 1347px #fff, 1549px 131px #fff, 482px 86px #fff,
    1802px 702px #fff, 1428px 1897px #fff, 1814px 1552px #fff, 521px 1859px #fff,
    655px 987px #fff, 560px 1597px #fff, 1847px 490px #fff, 871px 406px #fff,
    17px 1215px #fff, 697px 337px #fff, 731px 367px #fff, 1585px 1400px #fff,
    27px 1504px #fff, 1143px 1815px #fff, 605px 69px #fff, 23px 1361px #fff,
    631px 1513px #fff, 1403px 1393px #fff, 19px 1235px #fff, 310px 1402px #fff,
    958px 1198px #fff, 681px 1166px #fff, 1260px 257px #fff, 106px 1654px #fff,
    1805px 735px #fff, 1148px 1899px #fff, 612px 289px #fff, 574px 468px #fff,
    1058px 997px #fff, 566px 1860px #fff, 25px 951px #fff, 1619px 339px #fff,
    1320px 819px #fff, 1493px 189px #fff, 1831px 826px #fff, 878px 58px #fff,
    1200px 895px #fff, 1812px 741px #fff, 340px 1495px #fff, 407px 1820px #fff,
    1481px 936px #fff, 1985px 726px #fff, 340px 1937px #fff, 1709px 51px #fff,
    335px 1544px #fff, 99px 102px #fff, 1630px 1778px #fff, 1894px 1350px #fff,
    1312px 1059px #fff, 245px 941px #fff, 1142px 698px #fff, 972px 239px #fff,
    412px 5px #fff, 668px 1751px #fff, 768px 1560px #fff, 448px 117px #fff,
    1620px 371px #fff, 1163px 1491px #fff, 1645px 806px #fff, 529px 1536px #fff,
    1400px 1970px #fff, 1294px 795px #fff, 1897px 1208px #fff, 1781px 402px #fff,
    1122px 986px #fff, 760px 1484px #fff, 1079px 1260px #fff, 1942px 332px #fff,
    330px 1542px #fff, 989px 1703px #fff, 686px 566px #fff, 1049px 80px #fff,
    806px 1235px #fff, 1961px 1066px #fff, 1004px 1746px #fff,
    1328px 1678px #fff, 25px 12px #fff, 852px 998px #fff, 1081px 553px #fff,
    389px 385px #fff, 1605px 1358px #fff, 980px 1556px #fff, 1134px 1506px #fff,
    1147px 1812px #fff, 752px 736px #fff, 29px 762px #fff, 1502px 1955px #fff,
    1546px 1568px #fff, 1291px 1136px #fff, 430px 1544px #fff, 1013px 507px #fff,
    1873px 361px #fff, 104px 1303px #fff, 1440px 1186px #fff, 906px 1792px #fff,
    476px 1801px #fff, 1748px 812px #fff, 597px 341px #fff, 1326px 27px #fff,
    462px 1155px #fff, 297px 768px #fff, 1797px 130px #fff, 1284px 236px #fff,
    1224px 1104px #fff, 1621px 19px #fff, 890px 544px #fff, 220px 32px #fff,
    40px 1636px #fff, 1767px 1158px #fff, 1960px 1001px #fff, 523px 1787px #fff,
    59px 263px #fff, 725px 1914px #fff, 361px 1821px #fff, 267px 214px #fff,
    218px 977px #fff, 604px 1137px #fff, 1698px 1297px #fff, 311px 1011px #fff,
    352px 219px #fff, 1996px 4px #fff, 528px 1318px #fff, 1907px 1672px #fff,
    1160px 1870px #fff, 349px 879px #fff, 817px 1620px #fff, 297px 486px #fff,
    1783px 1041px #fff, 1851px 1819px #fff, 654px 971px #fff, 138px 204px #fff,
    982px 1024px #fff, 596px 867px #fff, 50px 684px #fff, 688px 187px #fff,
    1276px 359px #fff, 1038px 1883px #fff, 17px 1925px #fff, 1059px 532px #fff,
    1326px 23px #fff, 1397px 525px #fff, 690px 1677px #fff, 1668px 494px #fff,
    345px 1158px #fff, 1815px 221px #fff, 1049px 756px #fff, 420px 411px #fff,
    1007px 26px #fff, 1336px 555px #fff, 1191px 1421px #fff, 868px 1358px #fff,
    942px 31px #fff, 1827px 383px #fff, 1596px 1435px #fff, 462px 1114px #fff,
    1052px 1967px #fff, 1855px 869px #fff, 249px 788px #fff, 1953px 256px #fff,
    704px 827px #fff, 1329px 835px #fff, 1358px 55px #fff, 510px 940px #fff,
    31px 1463px #fff, 1491px 113px #fff, 610px 417px #fff, 644px 1858px #fff,
    56px 517px #fff, 1216px 1476px #fff, 664px 1124px #fff, 1200px 1014px #fff,
    1714px 885px #fff, 488px 1146px #fff, 890px 1213px #fff, 420px 806px #fff,
    301px 197px #fff, 608px 1598px #fff, 21px 1403px #fff, 1535px 1243px #fff,
    1457px 1831px #fff, 803px 1466px #fff, 317px 1299px #fff, 258px 592px #fff,
    997px 1658px #fff, 587px 581px #fff, 535px 1026px #fff, 151px 247px #fff,
    458px 1009px #fff, 292px 1882px #fff, 1566px 437px #fff, 1211px 1354px #fff,
    28px 139px #fff, 86px 889px #fff, 263px 1673px #fff, 1621px 1206px #fff,
    265px 1127px #fff, 562px 602px #fff, 437px 687px #fff, 1623px 638px #fff,
    1285px 344px #fff, 1271px 1386px #fff, 439px 1291px #fff, 934px 1310px #fff,
    1999px 738px #fff, 617px 447px #fff, 137px 214px #fff, 1251px 263px #fff,
    114px 925px #fff, 1595px 993px #fff, 1246px 1516px #fff, 740px 1439px #fff,
    946px 1567px #fff, 1339px 1469px #fff;
}

#stars2 {
  overflow: hidden;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 898px 1049px #fff, 1130px 545px #fff, 1520px 678px #fff,
    995px 1487px #fff, 270px 913px #fff, 1272px 1081px #fff, 1078px 1888px #fff,
    1700px 1090px #fff, 1939px 1365px #fff, 379px 1199px #fff, 1063px 332px #fff,
    1948px 948px #fff, 699px 800px #fff, 2000px 1423px #fff, 1277px 929px #fff,
    1240px 1428px #fff, 228px 200px #fff, 60px 1258px #fff, 303px 1519px #fff,
    242px 197px #fff, 1454px 255px #fff, 933px 1944px #fff, 1428px 1097px #fff,
    1102px 260px #fff, 1576px 264px #fff, 1123px 1719px #fff, 730px 1722px #fff,
    498px 1568px #fff, 820px 1206px #fff, 1612px 1443px #fff, 197px 71px #fff,
    942px 1970px #fff, 7px 1021px #fff, 1634px 770px #fff, 1826px 381px #fff,
    822px 1789px #fff, 1265px 1440px #fff, 355px 561px #fff, 471px 606px #fff,
    1822px 306px #fff, 1707px 633px #fff, 502px 876px #fff, 611px 1743px #fff,
    1429px 1065px #fff, 3px 1781px #fff, 368px 1657px #fff, 80px 695px #fff,
    1837px 351px #fff, 1011px 628px #fff, 1244px 1660px #fff, 1028px 1732px #fff,
    752px 1847px #fff, 1065px 1429px #fff, 1828px 1147px #fff,
    1061px 1121px #fff, 1016px 1926px #fff, 1964px 102px #fff, 303px 1241px #fff,
    494px 1312px #fff, 646px 297px #fff, 1070px 1245px #fff, 1746px 1886px #fff,
    998px 294px #fff, 1248px 1px #fff, 1116px 1126px #fff, 1661px 510px #fff,
    244px 1020px #fff, 646px 174px #fff, 1308px 613px #fff, 641px 859px #fff,
    1944px 606px #fff, 1292px 633px #fff, 1991px 284px #fff, 1598px 1532px #fff,
    1612px 322px #fff, 1705px 1554px #fff, 882px 1728px #fff, 1923px 735px #fff,
    1956px 1406px #fff, 932px 1379px #fff, 770px 1571px #fff, 470px 1127px #fff,
    1069px 883px #fff, 719px 418px #fff, 379px 200px #fff, 904px 336px #fff,
    624px 138px #fff, 897px 1042px #fff, 1156px 1897px #fff, 1288px 599px #fff,
    1804px 1532px #fff, 422px 1608px #fff, 1656px 898px #fff, 352px 600px #fff,
    1766px 186px #fff, 1716px 619px #fff, 157px 1334px #fff, 1898px 563px #fff,
    1149px 1195px #fff, 1579px 488px #fff, 1917px 1522px #fff, 193px 958px #fff,
    777px 1691px #fff, 210px 1361px #fff, 1881px 989px #fff, 1941px 1450px #fff,
    641px 660px #fff, 169px 1131px #fff, 1224px 1219px #fff, 1110px 1451px #fff,
    1468px 1917px #fff, 818px 54px #fff, 971px 1415px #fff, 448px 609px #fff,
    1149px 1646px #fff, 1986px 1646px #fff, 1567px 196px #fff,
    1038px 1782px #fff, 352px 1208px #fff, 747px 456px #fff, 202px 1152px #fff,
    959px 1751px #fff, 263px 156px #fff, 1918px 1843px #fff, 415px 973px #fff,
    1270px 1567px #fff, 398px 359px #fff, 875px 1989px #fff, 1536px 930px #fff,
    1435px 265px #fff, 395px 1543px #fff, 1046px 788px #fff, 340px 492px #fff,
    676px 122px #fff, 1150px 582px #fff, 127px 171px #fff, 66px 281px #fff,
    652px 163px #fff, 73px 1084px #fff, 1416px 1441px #fff, 194px 877px #fff,
    1358px 1576px #fff, 1971px 34px #fff, 1171px 281px #fff, 1688px 657px #fff,
    1386px 725px #fff, 500px 577px #fff, 1709px 444px #fff, 1691px 144px #fff,
    466px 1454px #fff, 231px 819px #fff, 1110px 1429px #fff, 1648px 1912px #fff,
    1720px 980px #fff, 1558px 1475px #fff, 1898px 1725px #fff,
    1646px 1476px #fff, 1522px 754px #fff, 731px 1986px #fff, 304px 633px #fff,
    677px 1027px #fff, 1381px 1938px #fff, 637px 1768px #fff, 701px 499px #fff,
    34px 1278px #fff, 509px 40px #fff, 619px 1881px #fff, 399px 65px #fff,
    1311px 1582px #fff, 750px 953px #fff, 186px 675px #fff, 1480px 279px #fff,
    790px 224px #fff, 455px 1001px #fff, 256px 277px #fff, 1393px 780px #fff,
    1035px 1541px #fff, 943px 10px #fff, 733px 593px #fff, 1841px 1013px #fff,
    1293px 1323px #fff, 1906px 628px #fff, 1825px 1844px #fff, 725px 816px #fff,
    1753px 1286px #fff, 1681px 1756px #fff, 1644px 1523px #fff, 60px 692px #fff,
    1423px 807px #fff, 1726px 789px #fff, 754px 1997px #fff, 933px 627px #fff,
    1643px 1520px #fff, 732px 151px #fff, 821px 1992px #fff, 675px 361px #fff,
    1459px 1516px #fff, 260px 849px #fff, 365px 1104px #fff, 1391px 523px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 898px 1049px #fff, 1130px 545px #fff, 1520px 678px #fff,
    995px 1487px #fff, 270px 913px #fff, 1272px 1081px #fff, 1078px 1888px #fff,
    1700px 1090px #fff, 1939px 1365px #fff, 379px 1199px #fff, 1063px 332px #fff,
    1948px 948px #fff, 699px 800px #fff, 2000px 1423px #fff, 1277px 929px #fff,
    1240px 1428px #fff, 228px 200px #fff, 60px 1258px #fff, 303px 1519px #fff,
    242px 197px #fff, 1454px 255px #fff, 933px 1944px #fff, 1428px 1097px #fff,
    1102px 260px #fff, 1576px 264px #fff, 1123px 1719px #fff, 730px 1722px #fff,
    498px 1568px #fff, 820px 1206px #fff, 1612px 1443px #fff, 197px 71px #fff,
    942px 1970px #fff, 7px 1021px #fff, 1634px 770px #fff, 1826px 381px #fff,
    822px 1789px #fff, 1265px 1440px #fff, 355px 561px #fff, 471px 606px #fff,
    1822px 306px #fff, 1707px 633px #fff, 502px 876px #fff, 611px 1743px #fff,
    1429px 1065px #fff, 3px 1781px #fff, 368px 1657px #fff, 80px 695px #fff,
    1837px 351px #fff, 1011px 628px #fff, 1244px 1660px #fff, 1028px 1732px #fff,
    752px 1847px #fff, 1065px 1429px #fff, 1828px 1147px #fff,
    1061px 1121px #fff, 1016px 1926px #fff, 1964px 102px #fff, 303px 1241px #fff,
    494px 1312px #fff, 646px 297px #fff, 1070px 1245px #fff, 1746px 1886px #fff,
    998px 294px #fff, 1248px 1px #fff, 1116px 1126px #fff, 1661px 510px #fff,
    244px 1020px #fff, 646px 174px #fff, 1308px 613px #fff, 641px 859px #fff,
    1944px 606px #fff, 1292px 633px #fff, 1991px 284px #fff, 1598px 1532px #fff,
    1612px 322px #fff, 1705px 1554px #fff, 882px 1728px #fff, 1923px 735px #fff,
    1956px 1406px #fff, 932px 1379px #fff, 770px 1571px #fff, 470px 1127px #fff,
    1069px 883px #fff, 719px 418px #fff, 379px 200px #fff, 904px 336px #fff,
    624px 138px #fff, 897px 1042px #fff, 1156px 1897px #fff, 1288px 599px #fff,
    1804px 1532px #fff, 422px 1608px #fff, 1656px 898px #fff, 352px 600px #fff,
    1766px 186px #fff, 1716px 619px #fff, 157px 1334px #fff, 1898px 563px #fff,
    1149px 1195px #fff, 1579px 488px #fff, 1917px 1522px #fff, 193px 958px #fff,
    777px 1691px #fff, 210px 1361px #fff, 1881px 989px #fff, 1941px 1450px #fff,
    641px 660px #fff, 169px 1131px #fff, 1224px 1219px #fff, 1110px 1451px #fff,
    1468px 1917px #fff, 818px 54px #fff, 971px 1415px #fff, 448px 609px #fff,
    1149px 1646px #fff, 1986px 1646px #fff, 1567px 196px #fff,
    1038px 1782px #fff, 352px 1208px #fff, 747px 456px #fff, 202px 1152px #fff,
    959px 1751px #fff, 263px 156px #fff, 1918px 1843px #fff, 415px 973px #fff,
    1270px 1567px #fff, 398px 359px #fff, 875px 1989px #fff, 1536px 930px #fff,
    1435px 265px #fff, 395px 1543px #fff, 1046px 788px #fff, 340px 492px #fff,
    676px 122px #fff, 1150px 582px #fff, 127px 171px #fff, 66px 281px #fff,
    652px 163px #fff, 73px 1084px #fff, 1416px 1441px #fff, 194px 877px #fff,
    1358px 1576px #fff, 1971px 34px #fff, 1171px 281px #fff, 1688px 657px #fff,
    1386px 725px #fff, 500px 577px #fff, 1709px 444px #fff, 1691px 144px #fff,
    466px 1454px #fff, 231px 819px #fff, 1110px 1429px #fff, 1648px 1912px #fff,
    1720px 980px #fff, 1558px 1475px #fff, 1898px 1725px #fff,
    1646px 1476px #fff, 1522px 754px #fff, 731px 1986px #fff, 304px 633px #fff,
    677px 1027px #fff, 1381px 1938px #fff, 637px 1768px #fff, 701px 499px #fff,
    34px 1278px #fff, 509px 40px #fff, 619px 1881px #fff, 399px 65px #fff,
    1311px 1582px #fff, 750px 953px #fff, 186px 675px #fff, 1480px 279px #fff,
    790px 224px #fff, 455px 1001px #fff, 256px 277px #fff, 1393px 780px #fff,
    1035px 1541px #fff, 943px 10px #fff, 733px 593px #fff, 1841px 1013px #fff,
    1293px 1323px #fff, 1906px 628px #fff, 1825px 1844px #fff, 725px 816px #fff,
    1753px 1286px #fff, 1681px 1756px #fff, 1644px 1523px #fff, 60px 692px #fff,
    1423px 807px #fff, 1726px 789px #fff, 754px 1997px #fff, 933px 627px #fff,
    1643px 1520px #fff, 732px 151px #fff, 821px 1992px #fff, 675px 361px #fff,
    1459px 1516px #fff, 260px 849px #fff, 365px 1104px #fff, 1391px 523px #fff;
}

#stars3 {
  overflow: hidden;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1349px 845px #fff, 1276px 1255px #fff, 629px 1364px #fff,
    780px 1879px #fff, 518px 1028px #fff, 691px 1213px #fff, 1183px 1282px #fff,
    1471px 1079px #fff, 1185px 1400px #fff, 1221px 1481px #fff, 955px 518px #fff,
    1478px 1037px #fff, 1414px 1755px #fff, 777px 508px #fff, 60px 1424px #fff,
    22px 1149px #fff, 1854px 41px #fff, 892px 1148px #fff, 83px 1761px #fff,
    1609px 326px #fff, 928px 1393px #fff, 1085px 1957px #fff, 697px 1025px #fff,
    1450px 1987px #fff, 1393px 54px #fff, 950px 281px #fff, 764px 82px #fff,
    613px 262px #fff, 1019px 780px #fff, 1780px 1059px #fff, 657px 118px #fff,
    1781px 698px #fff, 214px 1337px #fff, 708px 657px #fff, 1498px 1232px #fff,
    1311px 1909px #fff, 1412px 876px #fff, 223px 1452px #fff, 660px 1267px #fff,
    482px 1798px #fff, 1384px 132px #fff, 1568px 1791px #fff, 1299px 1444px #fff,
    78px 1042px #fff, 695px 375px #fff, 1877px 260px #fff, 1881px 285px #fff,
    736px 950px #fff, 1156px 1057px #fff, 1830px 567px #fff, 1054px 442px #fff,
    1936px 1619px #fff, 534px 1828px #fff, 1895px 884px #fff, 413px 672px #fff,
    35px 16px #fff, 1125px 1659px #fff, 604px 1653px #fff, 1833px 1327px #fff,
    420px 491px #fff, 1800px 1436px #fff, 323px 72px #fff, 1914px 1660px #fff,
    674px 1312px #fff, 1345px 1902px #fff, 775px 1657px #fff, 709px 415px #fff,
    273px 1523px #fff, 454px 1299px #fff, 626px 936px #fff, 1934px 152px #fff,
    694px 754px #fff, 836px 632px #fff, 1559px 246px #fff, 1114px 1929px #fff,
    1836px 1265px #fff, 1691px 1826px #fff, 946px 776px #fff, 1510px 521px #fff,
    882px 1723px #fff, 1420px 588px #fff, 1632px 195px #fff, 1402px 299px #fff,
    150px 709px #fff, 661px 302px #fff, 1367px 1084px #fff, 1936px 679px #fff,
    1748px 996px #fff, 1966px 1698px #fff, 1445px 1980px #fff, 303px 749px #fff,
    1908px 1212px #fff, 1624px 1900px #fff, 608px 1751px #fff,
    1148px 1091px #fff, 1368px 197px #fff, 1235px 252px #fff, 933px 1871px #fff,
    1922px 1662px #fff, 1844px 1400px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  overflow: hidden;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1349px 845px #fff, 1276px 1255px #fff, 629px 1364px #fff,
    780px 1879px #fff, 518px 1028px #fff, 691px 1213px #fff, 1183px 1282px #fff,
    1471px 1079px #fff, 1185px 1400px #fff, 1221px 1481px #fff, 955px 518px #fff,
    1478px 1037px #fff, 1414px 1755px #fff, 777px 508px #fff, 60px 1424px #fff,
    22px 1149px #fff, 1854px 41px #fff, 892px 1148px #fff, 83px 1761px #fff,
    1609px 326px #fff, 928px 1393px #fff, 1085px 1957px #fff, 697px 1025px #fff,
    1450px 1987px #fff, 1393px 54px #fff, 950px 281px #fff, 764px 82px #fff,
    613px 262px #fff, 1019px 780px #fff, 1780px 1059px #fff, 657px 118px #fff,
    1781px 698px #fff, 214px 1337px #fff, 708px 657px #fff, 1498px 1232px #fff,
    1311px 1909px #fff, 1412px 876px #fff, 223px 1452px #fff, 660px 1267px #fff,
    482px 1798px #fff, 1384px 132px #fff, 1568px 1791px #fff, 1299px 1444px #fff,
    78px 1042px #fff, 695px 375px #fff, 1877px 260px #fff, 1881px 285px #fff,
    736px 950px #fff, 1156px 1057px #fff, 1830px 567px #fff, 1054px 442px #fff,
    1936px 1619px #fff, 534px 1828px #fff, 1895px 884px #fff, 413px 672px #fff,
    35px 16px #fff, 1125px 1659px #fff, 604px 1653px #fff, 1833px 1327px #fff,
    420px 491px #fff, 1800px 1436px #fff, 323px 72px #fff, 1914px 1660px #fff,
    674px 1312px #fff, 1345px 1902px #fff, 775px 1657px #fff, 709px 415px #fff,
    273px 1523px #fff, 454px 1299px #fff, 626px 936px #fff, 1934px 152px #fff,
    694px 754px #fff, 836px 632px #fff, 1559px 246px #fff, 1114px 1929px #fff,
    1836px 1265px #fff, 1691px 1826px #fff, 946px 776px #fff, 1510px 521px #fff,
    882px 1723px #fff, 1420px 588px #fff, 1632px 195px #fff, 1402px 299px #fff,
    150px 709px #fff, 661px 302px #fff, 1367px 1084px #fff, 1936px 679px #fff,
    1748px 996px #fff, 1966px 1698px #fff, 1445px 1980px #fff, 303px 749px #fff,
    1908px 1212px #fff, 1624px 1900px #fff, 608px 1751px #fff,
    1148px 1091px #fff, 1368px 197px #fff, 1235px 252px #fff, 933px 1871px #fff,
    1922px 1662px #fff, 1844px 1400px #fff;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* CSS for Title */
body {
  font-family: "Istok Web", sans-serif;
  min-height: 100%;
  margin: 0;
}
.hero {
  font-family: "Istok Web", sans-serif;
  text-align: center;
  overflow: hidden;
  color: #fcfcfc;
  min-height: 90vh;
}
.hero h1 {
  font-family: "Holtwood One SC", serif;
  font-weight: normal;
  font-size: 6.4em;
  margin: 0 0 0.6em;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.hero p {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  color: #5cca87;
  letter-spacing: 6px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}
.hero-wrap {
  padding: 0rem 10px;
  place-items: center;
  text-align: center;
  padding-top: 30vh;
}
.hero p.intro {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
.hero p.year {
  color: #fff;
  letter-spacing: 20px;
  font-size: 34px;
  margin: -25px 0 25px;
}
.hero p.year i {
  font-size: 14px;
  vertical-align: middle;
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
  .hero p.intro {
    margin-bottom: 0.6em;
  }
  .hero p.year {
    margin: 5px 0 10px;
  }
}

@media screen and (max-width: 980px) {
  .hero p.intro {
    margin-bottom: 0.6em;
  }
  .hero h1 {
    font-size: 3em;
    margin: 0px 0 1em;
  }
  .hero p {
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 2.15em;
    letter-spacing: 0;
    margin: 0;
  }
  .hero p.intro {
    font-size: 1em;
  }
  .hero p.year {
    margin: 5px 0 10px;
    font-size: 18px;
  }
}
/*  */

/* Nav bar and section */

/* Navbar and Sections */
:root {
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-white: #fff;
  --clr-secondary: hsla(182, 63%, 54%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

/* navbar */

nav {
  background: black;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  box-shadow: var(--light-shadow);
  z-index: 100;
  color: #000;
  transition: var(--transition);
}
.fixed-nav .nav-toggle {
  color: white;
}
.fixed-nav .links a {
  color: white;
}

.nav-header {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  color: white;
  vertical-align: middle;
  padding-top: 0.20em;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  font-size: 2em;
}
.show-links {
  height: 200px;
}

.links{
  text-align: right;
}
.links a {
  background: black;
  color: white;
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding: 15px;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
  }
.show-link {
  visibility: visible;
  z-index: 100;
}
.scroll-link{
  text-align: end;
}

.links-container a,.footerLinks a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.links-container a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footerLinks a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

.loginbtn{
  font-size: 0.5em;
  font-family: Poppins, sans-serif;
  display: none;
  background: black;
  color: white;
  border: white solid 1px;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: var(--spacing);
}

.loginbigbtn{
  display: none;
}

.loginsmallbtn{
  display: unset;
  font-size: 1em;
  margin-right: 0.2em;
}

/* Media query for navbar in bigger screen */
/* Navbar was made with mobile first approach */
@media screen and (min-width: 1030px) {
  nav {
    background: black;
  }
  .nav-center {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    width: auto;
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .loginsmallbtn{
    display: none;
  }
  .loginbigbtn{
    display: unset;
  }
  .links-container {
    height: auto !important;
    
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-family: Poppins, sans-serif;
    font-size: 0.5em;
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding-bottom: 0.5em;
  }
  
}
/*  */

/* Events Page */
.title h2 {
  padding: 1rem;
}
.section {
  text-align: center;
  margin: 1rem auto;
}

.section .pdiv{
  margin:auto;
  width: 80%;
}
.section p {
  text-align: left;
  padding: 2rem;
  font-size: 1rem;

}
#events{
  position: relative;
  z-index: 80;
}

.container {
  display: grid;
  width: 90vw;
  grid-template-columns: 25% 25% 25% 25%;
  margin: auto;
}
.card-1 {
  background-image: url("https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8Y29kZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
  background-position: center;
  background-color: rgba(93, 47, 72, 0.2);
  background-blend-mode: lighten;
}
.card-2 {
  background-image: url("https://th.bing.com/th/id/OIP._hxV2PYmygHQslycyuViAAHaE7?w=231&h=180&c=7&o=5&dpr=1.5&pid=1.7");
  background-size: cover;
  background-position: center;
  background-color: rgba(7, 24, 69, 0.2);
  background-blend-mode: lighten;
}
.card-3 {
  background-image: url("https://images.unsplash.com/photo-1585166059782-f28143545183?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8bWVjaGFuaWNhbHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.137);
  background-blend-mode: lighten;
}
.card-4 {
  background-image: url("https://images.unsplash.com/photo-1462041866295-e4af004a32ef?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80");
  background-size: cover;
  background-position: center;
  background-color: rgba(192, 120, 78, 0.2);
  background-blend-mode: lighten;
}
.card-5 {
  background-image: url("https://images.unsplash.com/photo-1539627831859-a911cf04d3cd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
  background-size: cover;
  background-position: center;
  background-color: rgba(192, 120, 78, 0.2);
  background-blend-mode: lighten;
}
.card-6{
  background-image: url("https://2.bp.blogspot.com/-GvhqazxU4KM/T6d2RlelDMI/AAAAAAAAAgs/l2cmSCygxWA/s1600/line-tracer-mikro.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(192, 120, 78, 0.2);
  background-blend-mode: lighten;
}
.card-7{
  background-image: url("https://sbecouncil.org/wp-content/uploads/2019/10/entrepreneurship-1-e1570491993225.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(192, 120, 78, 0.2);
  background-blend-mode: lighten;
}
.card-8{
  background-image: url("https://th.bing.com/th/id/Rb21887691c40e420f1ab3acbca8aad92?rik=0II9zu6b3rouGQ&riu=http%3a%2f%2fcybersecurityventures.com%2fwp-content%2fuploads%2f2018%2f04%2fphotodune-21732180-diverse-computer-hacking-shoot-BW.jpg&ehk=Hu64uBoCM4rSzbl5aHWgIJ%2fTfWaUZ63orrhmaJDEQMA%3d&risl=&pid=ImgRaw");
  background-size: cover;
  background-position: center;
  background-color: rgba(192, 120, 78, 0.2);
  background-blend-mode: lighten;
}
/* .card {
  width: 80%;
  height: 30vh;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
  cursor: pointer;
} */
/* .card h1 {
  display: inline-block;
  margin: auto auto;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  
  
} */
#events{
  background: #090a0fcb;
  
}
/* .card:hover {
  transform: scale(1.1);
  border-radius: 1rem;
} */
/*  */
.link-event {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--link);
  color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
/* .link-event p {
  margin: 0;
} */

@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 33% 33% 33%;
    row-gap: 1.5rem;
  }
  /* .card {
    width: 28%;
  } */
}
@media screen and (max-width: 850px) {
  .container {
    grid-template-columns: 50% 50%;
    row-gap: 1.5rem;
  }

  /* .card h1{
    font-size: 1rem;
  } */
  /* .card {
    width: 40%;
  } */
}
@media screen and (max-width: 650px) {
  .container {
    display: grid;
  }
  /* .card {
    width: 60%;
    height: 20vh;
    margin: 1.5rem auto;
  } */
  /* .card h1{
    font-size: 1rem;
  } */
  
}
@media screen and (max-width: 500px) {
  .container {
    display: grid;
  }
  /* .card {
    width: 80%;
    height: 8em;
    margin: 1.5rem auto;
  }
  .card h1{
    font-size: 1rem;
  } */
}
.fonting{
  font-weight: bold;
  font-size: large;
}
.cardContainer{
  width: 80%;
  
}

.aboutBlock{
  display:grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  width: 80%;
  
  
}
.aboutPElement{
  width: 70%;
  margin-left: 30%;
  text-align: left;
  z-index: 1;
}
.aboutPElement>h1{
  padding: 2rem;
  margin:0;
  letter-spacing: 2px;
  font-weight: 10;
}

.heroDate{
  margin-left: -1rem;
}

@media screen and (max-width:1080px){
  .aboutPElement{
    width:90%;
    margin-left: 10%;
  }
}

@media screen and (max-width:800px){
  .aboutBlock{
    grid-template-columns: 100%;
    width:100%;
  }
  .vframebig{
    display: none;

  }
  .aboutPElement{
    width: 100%;
    margin-left: 0;
  }

  .heroDate{
    margin-left: 0;
  }

}
@media screen and (min-width:800px){
  .vframesmall{
    display: none;
  }

} 
/*Footer*/
footer{
  display: grid;
  grid-template-columns: 35% 35% 25%;
  padding: 2rem;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  background: black;
  z-index: 1;
}

.footerLinks>h1{
  padding: 0 20px;
  font-family: "Abel", sans-serif;
  text-underline-offset: 8px;
  text-decoration: underline;
  font-size: 1.5rem;
}
.footerLinks>h2{
  font-size: 0.8rem;
  cursor: pointer;
}
.footerLinks{
 padding:2rem;
 font-size: 0.8rem;
}

@media screen and (max-width:680px){
  footer{
    display: grid;
    padding: 0;
  }
  .footerLinks{
    padding: 0;
    padding-left: 1rem;
    float: left;
  }
  .footerLinks>h1{
    font-size: 1em;
    text-underline-offset: 6px;
    margin-bottom: 10px;
    padding: 0.4rem;
  }
  .footerLinks>h2{
    font-size: 0.6em;
  }
  .link>a{
    padding: 0.4rem;
  }
}
/*Footer*/
.sectionH2Right{
  width: 80%;
  text-align: right;
  font-size: 2.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.sectionH2Left{
  width: 90%;
  text-align: left;
  margin-left: auto;
  
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

#statistics{
  background: white;
  color: #000;
  margin-bottom: 0;
  
}

#statistics>.pdiv{
  display: grid;
  grid-template-columns: 50% 50%;
}
.titleSec>h2{
  padding: 1rem 2rem;
}
@media screen and (max-width:680px){
  #statistics>.pdiv{
    grid-template-columns: 100%;
    
  }
  #statistics>.pdiv>.statsDet{
    grid-row: 2;
  }
  .sectionH2Right{
    width: 80%;
    padding-left: 0;
    text-align: left;
    margin: auto;
  }

  .sectionH2Left{
    width: 80%;
    padding-left: 0;
    text-align: left;
    margin: auto;
  }

  .pdiv>p,.pdiv>.statsDet>p{
    padding-left: 0;
  }

  .titleSec>h2{
    padding: 0;
  }
}

*:focus {
    outline: 0;
}

#profimg{
  width: 50px;
  border-radius: 50px;
  padding: 2rem;
}
/*  */
